.topic {
  display: block;
  margin-bottom: 1em;
  padding: 10px;
  background-color: transparent;
  color: #4e4e4e;
  position: relative;
  margin-top: 10px;
  border: 2px solid #E7E7E7;
  border-radius: 3px; }

.buttonControl-group-container {
  display: inline; }
  .buttonControl-group-container .buttonControl-group {
    display: inline;
    margin-left: 5px; }
    .buttonControl-group-container .buttonControl-group a {
      cursor: pointer; }
